

.amenities-sec{
	padding: 110px 0 100px;
	background: #F2F2F2;
}

.amenities-sec .pt-grids-sec-entry-hdr-title{
	text-align: center;
}

.amenities-grds ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.amenities-grds ul li{
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.amenities-grd-item{
	display: flex;
	align-items: center;
}
.amenities-grd-item i{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 30px;
	width: 85px;
}
.amenities-grd-item i img{
	max-width: 56px;
	width: 100%;
	height: auto;
}
.amenities-grd-item span{
	display: inline-block;
	vertical-align: baseline;
}


@media(max-width: 1699px){
	.amenities-sec {
	    padding: 90px 0 90px;
	}
	.amenities-grd-item i{
		width: 60px;
		margin-right: 20px;
	}
	.amenities-grds ul{
		margin-left: -10px;
		margin-right: -10px;
	}
	.amenities-grds ul li {
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-bottom: 20px;
	}
	.amenities-grd-item i img {
	    max-width: 45px;
	}
}
@media(max-width: 1399px){
	.amenities-sec {
	    padding: 70px 0 70px;
	}
}
@media(max-width: 1199px){
	.amenities-sec {
	    padding: 60px 0 60px;
	}
}
@media(max-width: 991px){
	.amenities-sec {
	    padding: 50px 0 50px;
	}
	.amenities-grds ul li{
		width: 33.3333%;
	}
}
@media(max-width: 767px){
	.amenities-grds ul li{
		width: 50%;
	}
	.amenities-grd-item i {
	    width: 40px;
	}
	.amenities-grd-item i img {
	    max-width: 30px;
	}
}
@media(max-width: 575px){
	.amenities-grds ul{
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	.amenities-grds ul li {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 20px;
	}
	.amenities-grd-item{
		max-width: 300px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

}