

.amenities-sec{
	padding: 110px 0 100px;
	background: #F2F2F2;
}

.amenities-sec .pt-grids-sec-entry-hdr-title{
	text-align: center;
}

.amenities-grds ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.amenities-grds ul li{
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.amenities-grd-item{
	display: flex;
	align-items: center;
}
.amenities-grd-item i{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 25px;
}
.amenities-grd-item span{
	display: inline-block;
	vertical-align: baseline;
}