
.ftr-top-bdr{
	width: 100%;
	height: 2px;
	background: #b8b8b8;
}
.footer-wrp{
	padding-top: 110px;
}
.ftr-top{
	background: #fff;
	padding-bottom: 50px;
}
.ftr-top-cntlr{

}
.ftr-topbar{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;
}
.ftr-logo{

}
.ftr-logo a{
	display: inline-block;
}
.ftr-btn{
	margin-top: 8px;
	margin-left: auto;
}
.ftr-col-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.ftr-col{
	width: 100%;
	padding-right: 10px;
	margin-bottom: 30px;
}
.ftr-col:last-of-type{
	padding-right: 0;
}
.ftr-col-01{
	max-width:  25.333%;
}
.ftr-col-02{
	max-width:  18.333%;
}
.ftr-col-03{
	max-width:  18.333%;
}
.ftr-col-04{
	max-width: 15%;
}
.ftr-col-05{
	max-width: 22%;
}
.fl-h6.ftr-col-title{
	margin-bottom: 38px;
	text-transform: uppercase;
}
.ftr-col a{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	color: #A7A7A7;
	line-height: 1;
}
.ftr-col a:hover{
	color: #48484A;
}
.ftr-addr{
	margin-top: -8px;
}
.ftr-addr a{
	line-height: 1.76;
}
.ftr-menu{

}
.ftr-menu ul{
	margin: -5px 0;
}
.ftr-menu ul li{
	padding: 5px 0;
	font-size: 16px;
	line-height: 1;
}

.ftr-btm{
	background: #f2f2f2;
	padding: 23px 0 22px;
}
.ftr-btm-lft,
.ftr-btm-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-copyright{
	padding-right: 
}
.ftr-copyright p{
	margin-bottom: 0;
	color: #010203;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.1;
}
.ftr-btm-menu{
	padding-left: 6px;
	margin-left: 6px;
	position: relative;
}
.ftr-btm-menu:after{
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	background: #010203;
	height: 12px;
	width: 1px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.ftr-btm-menu ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -6px;
}
.ftr-btm-menu ul li{
	padding: 0 6px;
	font-size: 14px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	background: #010203;
	height: 12px;
	width: 1px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.ftr-btm-menu ul li:last-child:after{
	display: none;
	content: none;
}
.ftr-btm-menu ul li a{
	display: inline-block;
	line-height: 1;
	color: #010203;
	font-size: 14px;
	font-weight: 300;
}
.ftr-developed-by{
	margin-left: auto;
}
.ftr-developed-by p{
	margin-bottom: 0;
	color: #010203;
	font-size: 14px;
	font-weight: 300;
}
.ftr-developed-by p a{
	display: inline-block;
	color: #A7A7A7;
	font-size: 14px;
	font-weight: 300;
}
.ftr-developed-by p a:hover{
	color: #48484A;
}
.ftr-icon{
	text-align: center;
	margin-top: -60px;
}
.ftr-icon a{
	display: inline-block;
	max-width: 242px;
}




/*responsive*/
@media(max-width: 1699px){
	.ftr-logo a{
		max-width: 385px;
	}
}
@media(max-width: 1399px){
	.footer-wrp{
		padding-top: 85px;
	}
	.ftr-logo a{
		max-width: 350px;
	}
	.ftr-icon a{
		max-width: 230px;
	}
	.ftr-icon{
		margin-top: -45px;
	}
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	
}
@media(max-width: 991px){
	
}
@media(max-width: 767px){
	
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	
}