

.pt-text-slider-ctlr{

}

.pt-text-slider{
	max-width: 900px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.pt-text-slider-item{
	text-align: center;
}


.pt-accordion-title{
	margin-bottom: 0;
    cursor: pointer;
    position: relative;
    padding: 20px 50px 25px 20px;
    border: 1px solid #495649;
    background: #EAEBEC;
    line-height: 1.3;
}
.pt-accordion-title:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background: url(../images/down-arrow.svg);
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    height: 11px;
    width: 19px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.pt-accordion-title.active:after{
    transform: rotate(-180deg);
}

.pt-accordion-des{
	padding: 28px 20px 1px 22px;
	display: none;
}
.pt-accordion-des p{
	margin-bottom: 20px;
}

.pt-des-accordion-gray-bg{
	background: #A7A7A7;
}
.pt-des-accordion-gray-bg .pt-grid-item-inr p{
	color: #fff;
}

.pt-des-accordion-gray-bg .pt-accordion-title{
	border-color: #E5E5E5;
}
.pt-des-accordion-gray-bg .pt-accordion-title.active{
	background: #D3E3CE;
	border-color: #D3E3CE;
}


.pt-team-sec{
	background: #D3E3CE;
	padding: 210px 0 120px;
}

.pt-team-sec .pt-grids-sec-entry-hdr-title{
	text-transform: capitalize;
	text-align: center;
}

.pt-team-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.pt-team-grd-item-ctlr{
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.pt-team-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.pt-team-grd-item-img{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.pt-team-grd-item-des{
	text-align: center;
	padding-top: 20px;
}
.pt-team-grd-des-title{
	margin-bottom: 10px;
}
.pt-team-grd-item-des strong{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 25px;
	color: #48484A;
}
.pt-team-grd-item-des p{
	color: #010203;
}


.pt-team-slider-ctlr{
	position: relative;
}

/*.pt-prev{
	position: absolute;
	width: 53px;
	height: 46px;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	left: -20px!important;
	top: 50%!important;
	transform: translateY(-50%)!important;
	-webkit-transform: translateY(-50%)!important;
	-ms-transform: translateY(-50%)!important;
	z-index: 2;
}*/




.pt-grds-black-bg{
	background: #010203;
}


.pt-grds-black-bg .pt-grid-item,
.pt-grds-black-bg .pt-grids-col-entry-hdr-title{
	color: #fff;
}


.pt-fea-sec{
	padding: 230px 0 180px;
}

.pt-fea-sec-inr{
	padding-bottom: 150px;
	border-bottom: 3px solid #A7A7A7;
}

.pt-fea-sec .pt-grids-sec-entry-hdr-title{
	text-align: center;
}

.pt-fea-slider-grds{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -40px;
	margin-right: -40px;
}
.pt-fea-slider-grd-item{
	width: 33.3333%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 80px;
	text-align: center;
}



.pt-gallery-sec{
	padding-top: 150px;
	padding-bottom: 250px;
}

.pt-gallery-sec .pt-grids-sec-entry-hdr-title{
	text-align: center;
	margin-bottom: 30px;
}

/*
Gallery design
*/

/*.gallery-wrap{
	padding-top: 50px;
	padding-bottom: 65px;
}*/
.gallery {
	margin-left: -14px;
	margin-right: -14px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 14px;
	margin-bottom: 28px;
}


.gallery-item img {
	width: 100%;
}


.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery-columns-5 .gallery-item {
    width: 20%;
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%;
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
    width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}



.btn-ctlr ul{
	display: flex;
	align-items: center;
	margin-left: -10px;
	margin-right: -10px;
}
.btn-ctlr ul li{
	padding-left: 10px;
	padding-right: 10px;
}

