.home .hdr-topbar-cntlr{
	max-width: 1270px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.header-wrap{
	background: #fff;
}
.home .header-wrap{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: transparent;
	z-index: 10;
}
.hdr-topbar{
	padding: 23px 0;
	padding-bottom: 37px;
}
.home .header-inr{
	align-items: flex-start;
}
.home .hdr-topbar{
	padding-top: 75px;
}
.hdr-topbar-inr{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}
.hdr-details{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -11px;
}
.hdr-mail{
	padding: 0 11px;
	display: none;
}
.home .hdr-mail{
	display: block;
}
.home .hdr-tel a i svg{
	fill: #fff;
}
.home .hdr-tel a{
	color: #fff;
}
.hdr-mail a{
	display: inline-block;
}
.hdr-tel a:hover,
.hdr-mail a:hover{
	color: #48484A;
}
.hdr-mail a:hover i svg{
	fill: #48484A;
}

.hdr-tel{
	padding: 0 11px;
}
.hdr-tel a{
	display: inline-block;
	position: relative;
	padding-left: 29px;
	font-size: 18px;
}
.hdr-tel a i{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hdr-tel a i svg{
	fill: #D4E2CF;
}
.hdr-tel a:hover i svg{
	fill: #48484A;
}

.hdr-socials{
	padding-left: 70px;
}
.home .hdr-socials{
	display: none;
}
.home .xs-hdr-socials .hdr-socials{
	display: block;
}
.hdr-socials ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -7px;
}
.hdr-socials ul li{
	padding: 0 7px;
	font-size: 18px;
}
.hdr-socials ul li a i{
	display: inline-block;
}
.hdr-socials ul li a{
	display: inline-block;
	font-size: 18px;
	color: #48484A;
	line-height: 1;
}
.header{
	padding-bottom: 30px;
}
.header-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.home .hdr-lft{
	margin-top: -74px;
}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-rgt{
	margin-left: auto;
}
.hamburger-cntlr{

}
.hamburger-icon{
	width: 58px;
	height: 40px;
	position: relative;
	cursor: pointer;
}





nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{
	margin: -25px 0;
}
nav.main-nav > ul > li{
	font-size: 34px;
	padding: 25px 0;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	color: #48484A;
	font-size: 34px;
	line-height: 1;
	font-weight: 300;
	position: relative;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{
	padding-right: 40px;
}
nav.main-nav > ul > li.menu-item-has-children > a:after{
	position: absolute;
	top: 12px;
	content: "";
	right: 0;
	background-image: url(../images/arrow-btm.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 11px;
	width: 18.2px;
	
}
nav.main-nav > ul > li.menu-item-has-children.this-sub-menu-active > a:after{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	padding-top: 55px;
	display: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	font-size: 18px;
	padding: 25px 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:first-child{
	padding-top: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	padding-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: inline-block;
	color: #48484A;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
}

.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}

.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
.allWork .xs-menu {
    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-menu{
    position: absolute;
    left: auto;
    top: 0;
    right: -100%;
    background: #f2f2f2;
    width: 0;
    z-index: -99999;
    opacity: 0;
    transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    height: auto;
    max-width: 100%;
    width: 0;

}
.xs-menu-cntlr{
	padding-bottom: 80px;
	padding-top: 128px; 
}
.xs-menu-hdr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 90px;
}
.xs-menu-cntlr .hamburger-cntlr{
	margin-left: auto;
}
.xs-mbl-menu{
	margin-bottom: 188px;
	display: flex;
	flex-wrap: wrap;
}
.xs-menu-col{
	width: 100%;
	float: left;
	max-width:  46.33%;
	padding-right: 10px;
}
.xs-menu-col:last-of-type{
	padding-right: 0;
}
.xs-hdr-socials{
	width: 100%;
	margin-top: -27px;
}
.xs-hdr-socials .hdr-socials{
	padding-left: 0;
	
}
.xs-hdr-socials .hdr-socials ul{
	justify-content: flex-end;
}
.hamburger-icon span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #48484A;
}
.home .hamburger-icon span{
	background: #fff;
}
.allWork .hamburger-icon span{
	background: #48484A;
}
.hamburger-icon span:nth-child(2) {
    top: 18px;
}
.hamburger-icon span:nth-child(3) {
    top: 36px;
}

.allWork .hamburger-icon span:nth-child(3) {
    top: 19px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.allWork .hamburger-icon span:nth-child(1) {
    top: 19px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.allWork .hamburger-icon span:nth-child(2) {
    content: none;
    display: none;
}


/*responsive*/
@media(max-width: 1699px){
	.logo a{
		max-width: 350px;
	}
	.xs-menu-cntlr{
		padding: 85px 0 70px;
	}
	.xs-menu-col{
		max-width: 50%;
		padding-right: 30px;
	}
	nav.main-nav > ul{
		margin: -20px 0;
	}
	nav.main-nav > ul > li{
		font-size: 30px;
		padding: 20px 0;
	}
	nav.main-nav > ul > li > a{
		font-size: 30px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
		font-size: 16px;
		padding: 20px 0;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 16px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		margin: -20px 0;
	}
	.xs-menu-hdr{
		margin-bottom: 80px;
	}
	.xs-mbl-menu{
		margin-bottom: 140px;
	}
}
@media(max-width: 1199px){
	.logo a{
		max-width: 300px;
	}
	.hdr-socials{
		padding-left: 35px;
	}
	.xs-menu-cntlr{
		padding: 70px 0 60px;
	}
	.xs-menu-hdr{
		margin-bottom: 70px;
	}
	.xs-mbl-menu{
		margin-bottom: 120px;
	}
}
@media(max-width: 991px){
	.xs-menu-cntlr{
		padding: 60px 0 50px;
	}
	.xs-menu-hdr{
		margin-bottom: 60px;
	}
	nav.main-nav > ul{
		margin: -15px 0;
	}
	nav.main-nav > ul > li{
		font-size: 26px;
		padding: 15px 0;
	}
	nav.main-nav > ul > li > a{
		font-size: 26px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
		font-size: 15px;
		padding: 15px 0;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 15px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		margin: -15px 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after{
		top: 10px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		padding-top: 35px;
	}
	.xs-mbl-menu{
		margin-bottom: 80px;
	}
}
@media(max-width: 767px){
	.home .hdr-topbar{
		padding-top: 0;
		padding-bottom: 0;
	}
	.header,
	.hdr-topbar{
		padding: 0;
	}
	.header-inr{
		padding: 40px 0;
	}
	.home .header-inr,
	.header-inr{
		align-items: center;
	}
	.home .hdr-lft{
		margin-top: 0;
	}
	.logo a{
		max-width: 250px;
	}
	.xs-menu-cntlr{
		padding: 50px 0 50px;
	}
	.xs-menu-hdr{
		margin-bottom: 50px;
	}
	.xs-menu-col{
		max-width: 100%;
		padding-right: 0;
	}
	.xs-menu-col{
		margin-bottom: 20px;
	}
	nav.main-nav > ul{
		margin: -10px 0;
	}
	nav.main-nav > ul > li{
		font-size: 28px;
		padding: 10px 0;
	}
	nav.main-nav > ul > li > a{
		font-size: 28px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
		font-size: 18px;
		padding: 10px 0;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 18px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		margin: -10px 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after{
		top: 10px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		padding-top: 30px;
	}
	.xs-hdr-socials{
		margin-top: 0;
	}
	.xs-hdr-socials .hdr-socials ul{
		justify-content: flex-start;
	}
	.hdr-mail{
		display: block;
	}
	.hdr-mail a i svg{
		width: 28px!important;
		height: auto!important;
		fill: #48484A;
	}
	.hdr-tel a i svg{
		width: 24px!important;
		height: auto!important;
		fill: #48484A;
	}
	.hdr-tel{
		padding-left: 20px;
	}
	.hdr-tel a{
		font-size: 24px;
		line-height: 1.2;
		padding-left: 35px;
		color:  #48484A;
	}
	.hdr-details{
		margin-bottom: 30px;
		margin-top: 20px;
	}
	.hdr-socials ul{
		margin: 0 -15px;
	}
	.hdr-socials ul li{
		font-size: 26px;
		padding: 0 15px;
	}
	.hdr-socials ul li a{
		font-size: 26px;
	}
	.xs-mbl-menu{
		margin-bottom: 60px;
	}
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	.logo a{
		max-width: 200px;
	}
	.hamburger-icon{
		width: 32px;
		height: 20px;
	}
	.hamburger-icon span:nth-child(2) {
		top: 10px;
	}
	.hamburger-icon span:nth-child(3) {
		top: 18px;
	}
	.allWork .hamburger-icon span:nth-child(3){
		top: 9px;
	}
	.allWork .hamburger-icon span:nth-child(1){
		top: 9px;
	}
	.xs-mbl-menu{
		margin-bottom: 50px;
	}
	nav.main-nav > ul > li > a{
		font-size: 24px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a{
		padding-right: 30px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after {
		top: 8px;
		height: 9px;
		width: 15.2px;
	}
}