.lftdes-rgtimg-sec{
	padding: 185px 0 200px;
}

.lftdes-rgtimg-ctlr{
	display: flex;
}

.display-align{
	align-items: center;
}

.lftdes-rgtimg-lft{
	width: 60%;
}

.lftdes-rgtimg-rgt{
	width: 40%;
	padding-left: 40px;
	padding-top: 10px;
}

.lftimg-rgtdes .lftdes-rgtimg-lft{
	order: 2;
}
.lftimg-rgtdes .lftdes-rgtimg-rgt{
	order: 1;
	padding-left: 0;
	padding-right: 40px;
}


.lftdes-rgtimg-img{
	height: 580px;
}
.lftdes-rgtimg-img img{
	display: none;
}

.lftdes-rgtimg-title{
	margin-bottom: 35px;
}

.lftdes-rgtimg-subtitle{
	margin-bottom: 30px;
	letter-spacing: 1px;
}


.cabin-sec{
	min-height: 1115px;
}

.cabin-sec-inr{
	padding-top: 200px;
}
.cabin-des{
	max-width: 539px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cabin-des-title{
	color: #fff;
	margin-bottom: 35px;
}
.cabin-des-subtitle{
	margin-bottom: 30px;
	color: #fff;
	letter-spacing: 1px;
}



.lftdes-rgtimg-grd-item{
	padding-bottom: 100px;
}
.lftdes-rgtimg-grd-item:last-child{
	padding-bottom: 0;
}

.lftdes-rgtimg-des-btn{
	padding-top: 30px;
}


.fea-grd-ctlr{
	display: flex;
	align-items: center;
	margin-left: -17px;
	margin-right: -17px;
	padding-bottom: 30px;
}

.fea-item{
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 20px;
}
.fea-item i{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 15px;
}
.fea-item span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	font-weight: 700;
	color: #48484A;
}



.luxury-sec{
	min-height: 315px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.luxury-des{
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.luxury-des-title{
	margin-bottom: 0;
}
.luxury-des-title a{
	color: #48484A;
	font-weight: 400;
}
.luxury-des-title a:hover{
	opacity: 0.7;
	text-decoration: underline;
}


.waking-up-sec{
	height: 1100px;
}


.waking-up-des{
	max-width: 580px;
	width: 100%;
	margin-left: auto;
	margin-top: 110px;
	/*margin-right: -160px;*/
}
.waking-up-des blockquote p{
	font-size:34px;
	line-height: 1.5;
	font-weight: 300;
	color: #48484A;
}
.waking-up-des blockquote strong{
	font-size: 18px;
	color: #48484A;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.follow-sec{
	padding: 175px 0 190px;
	background: #F2F2F2;
}

.follow-des-title{
	margin-bottom: 70px;
}

.follow-img{
	margin-bottom: 90px;
}

.follow-btm-des{
	display: flex;
	align-items: center;
}

.follow-btm-des-hdr{
	padding-right: 20px;
}
.follow-btm-des-title{
	margin-bottom: 0;
	letter-spacing: 1px;
	font-size: 16px;
}
.follow-btm-des-btn{
	margin-left: auto;
}
.follow-btm-des-btn .fl-black-btn{
	min-width: 270px;
}


.hunter-sec{
	height: 1115px;
	display: flex;
	align-items: center;
}

.hunter-des{
	max-width: 480px;
	width: 100%;
}
.hunterd-des-title{
	color: #fff;
	margin-bottom: 30px;
}
.hunter-des-subtitle{
	color: #fff;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.cabin-landing-ctlr .pt-intro-text-sec{
	padding-bottom: 0;
}
.facilites-landing-ctlr .pt-intro-text-sec{
	padding-bottom: 20px;
}


/*responsive*/

@media(max-width: 1699px){
	.lftdes-rgtimg-img {
	    height: 480px;
	}
	.lftdes-rgtimg-sec {
	   padding: 120px 0 150px;
	}
	.cabin-sec {
	    min-height: 800px;
	}
	.cabin-sec-inr {
	    padding-top: 130px;
	}
	.cabin-des-title {
	    margin-bottom: 25px;
	}
	.cabin-des-subtitle {
	    margin-bottom: 20px;
	}
	.lftdes-rgtimg-title {
	    margin-bottom: 25px;
	}
	.fea-grd-ctlr{
		padding-bottom: 15px;
		margin-left: -15px;
    	margin-right: -15px;
	}
	.fea-item{
		padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 15px;
	}
	.fea-item i{
		max-width: 30px;
	}
	.pt-user i{
		max-width: 25px;
	}
	.pt-bed i{
		max-width: 37px;
	}
	.pt-bath i{
		max-width: 35px;
	}
	.fea-item i svg{
		width: 100%!important;
		height: auto!important;
	}
	.waking-up-sec {
	    height: 1000px;
	}
	.waking-up-des{
		margin-top: 75px;
	}
	.waking-up-des blockquote{
		margin-bottom: 0;
	}
	.waking-up-des blockquote p{
		font-size: 30px;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.follow-sec {
	    padding: 120px 0 140px;
	}
	.follow-des-title {
	    margin-bottom: 50px;
	}
	.hunter-sec {
	    height: 800px;
	}
	.follow-img {
	    margin-bottom: 80px;
	}
	.lftdes-rgtimg-grd-item {
	   padding-bottom: 70px;
	}
	.lftdes-rgtimg-subtitle {
	    margin-bottom: 20px;
	}
	.lftdes-rgtimg-des-btn {
	    padding-top: 25px;
	}
	.follow-btm-des-btn .fl-black-btn {
	    min-width: 230px;
	    font-size: 13px;
	}
	.follow-btm-des-title{
		font-size: 13px!important;
	}
	.waking-up-des blockquote strong {
	    font-size: 17px;
	}
	.lftdes-rgtimg-rgt{
		padding-left: 35px;
	}
	.lftdes-rgtimg-rgt{
		padding-top: 10px;
	}
	.waking-up-des blockquote strong {
	    font-size: 16px;
	}
	.luxury-specific-ctlr .lftdes-rgtimg-sec {
	    padding: 120px 0 120px;
	}

}

@media(max-width: 1199px){
	.lftdes-rgtimg-lft {
	    padding-right: 0;
	}
	.lftimg-rgtdes .lftdes-rgtimg-lft {
	    padding-left: 0;
	}
	.lftdes-rgtimg-sec {
	    padding: 90px 0 110px;
	}
	.cabin-sec {
	    min-height: 800px;
	}
	.cabin-sec-inr {
	    padding-top: 100px;
	}
	.waking-up-sec {
	    height: 950px;
	}
	.waking-up-des blockquote p {
	    font-size: 27px;
	}
	.follow-sec {
	    padding: 100px 0 120px;
	}
	.follow-des-title {
	    margin-bottom: 40px;
	}
	.hunter-sec {
	    height: 800px;
	}
	.follow-img {
	    margin-bottom: 70px;
	}
	.lftdes-rgtimg-grd-item {
	    padding-bottom: 70px;
	}
	.lftdes-rgtimg-title {
	    margin-bottom: 20px;
	}
	.fea-grd-ctlr {
	    padding-bottom: 15px;
	    margin-left: -8px;
	    margin-right: -8px;
	}
	.fea-item {
	    padding-left: 8px;
	    padding-right: 8px;
	    padding-bottom: 10px;
	}
	.lftdes-rgtimg-subtitle {
	    margin-bottom: 15px;
	}
	.follow-btm-des-btn .fl-black-btn {
	    min-width: 235px;
	}
	.luxury-specific-ctlr .lftdes-rgtimg-sec {
	    padding: 100px 0 100px;
	}
}
@media(max-width: 991px){
	.lftdes-rgtimg-lft {
	    width: 55%;
	}
	.lftdes-rgtimg-rgt{
		width: 45%;
	}
	.lftdes-rgtimg-sec {
	    padding: 80px 0 100px;
	}
	.cabin-sec {
	    min-height: 700px;
	}
	.cabin-sec-inr {
	    padding-top: 90px;
	}
	.fea-grd-ctlr{
		margin-left: -12px;
		margin-right: -12px;
	}
	.fea-item {
	    padding-left: 12px;
	    padding-right: 12px;
	    padding-bottom: 15px;
	}
	.fea-item i svg{
		width: 30px;
		height: 40px;
	}
	.luxury-sec{
		min-height: 270px;
	}
	.waking-up-sec {
	    height: 800px;
	}
	.waking-up-des blockquote p {
	    font-size: 24px;
	}
	.follow-sec {
	    padding: 90px 0 100px;
	}
	.hunter-sec {
	    height: 700px;
	}
	.follow-img {
	    margin-bottom: 60px;
	}
	.lftdes-rgtimg-grd-item {
	    padding-bottom: 60px;
	}
	.follow-btm-des-title {
	    font-size: 12px!important;
	}
	.waking-up-des blockquote strong {
	    font-size: 15px;
	}
	.luxury-specific-ctlr .lftdes-rgtimg-sec {
	    padding: 80px 0 80px;
	}
	.blockquote-sec {
	    padding-bottom: 50px;
	}
}
@media(max-width: 767px){
	.lftdes-rgtimg-sec {
	    padding: 70px 0 90px;
	}
	.lftdes-rgtimg-ctlr {
	    display: block;
	}
	.lftdes-rgtimg-lft{
		width: 100%;
		padding-right: 0;
		margin-bottom: 30px;
	}
	.lftimg-rgtdes .lftdes-rgtimg-lft {
	    padding-left: 0;
	}
	.lftdes-rgtimg-rgt {
	    width: 100%;
	}
	.lftdes-rgtimg-img-ctlr{
		margin-left: -20px;
		margin-right: -20px;
	}
	.lftdes-rgtimg-img {
	    height: 400px;
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.lftdes-rgtimg-title {
	    margin-bottom: 20px;
	}
	.lftdes-rgtimg-subtitle {
	    margin-bottom: 20px;
	}
	.cabin-sec {
	    min-height: 600px;
	}
	.cabin-des-title {
	    margin-bottom: 20px;
	}
	.fea-grd-ctlr {
	    padding-bottom: 15px;
	}
	.lftdes-rgtimg-des-btn {
	    padding-top: 20px;
	}
	.luxury-sec {
	    min-height: 220px;
	}
	.waking-up-des {
	    margin-top: 50px;
	}
	.follow-sec {
	    padding: 70px 0 80px;
	}
	.follow-img {
	    margin-bottom: 50px;
	}
	.follow-btm-des{
		display: block;
	}
	.follow-btm-des-hdr{
		padding-right: 0;
		padding-bottom: 30px;
	}
	.hunter-sec {
	    height: 600px;
	}
	.lftdes-rgtimg-grd-item {
	    padding-bottom: 50px;
	}
	.follow-btm-des-title {
	    font-size: 11px!important;
	}
	.waking-up-des blockquote strong {
	    font-size: 14px;
	}
	.lftdes-rgtimg-rgt {
	    padding-left: 0;
	}
	.lftimg-rgtdes .lftdes-rgtimg-rgt {
	    padding-right: 0;
	}
	.lftdes-rgtimg-rgt {
	    padding-right: 0;
	}
	.blockquote-sec {
	    padding-bottom: 40px;
	}
	.hunter-des{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
@media(max-width: 575px){
	.lftdes-rgtimg-sec {
	    padding: 60px 0 80px;
	}
	.cabin-sec-inr {
	    padding-top: 80px;
	}
	.luxury-sec {
	    min-height: 200px;
	}
	.follow-sec {
	    padding: 60px 0 70px;
	}
	.hunter-sec {
	    height: 700px;
	}
	.lftdes-rgtimg-img {
	    height: 300px;
	}
	.cabin-sec {
	    min-height: 700px;
	}
	.pt-text-slider-title{
		font-size: 24px!important;
	}
	.blockquote-title{
		font-size: 24px!important;
	}
}
@media(max-width: 479px){
	.cabin-sec-inr {
	    padding-top: 50px;
	}
	.waking-up-des blockquote p {
	    font-size: 24px;
	}
	.waking-up-sec {
	    height: 1100px;
	}
}
@media(max-width: 359px){
	.lftdes-rgtimg-des .fl-transparent-btn{
		min-width: 100%;
	}
}