.pt-intro-text-sec{
    padding-top: 215px;
    padding-bottom: 215px;
}
.pt-intro-text-module {
    text-align: center;
}
.pt-intro-text-module p {
    font-size: 34px;
    font-weight: 300;
    line-height: 1.5;
}
.full-width-img-cntlr img{
    display: none;
}
.full-width-img-cntlr div{
    height: 100%;
    width: 100%;
}
.full-width-img-cntlr{
    height: 540px;
}
.full-width-img-bleed-sec-rows-cntlr ul li{
    position: relative;
    background: #808368;
}
.full-width-img-des-cntlr {
    display: flex;
    flex-wrap: wrap;
}

.full-width-img-des-lft,
.full-width-img-des-rgt {
    width: 50%;
}
.full-width-img-bleed-sec-rows-cntlr ul li .container,
.full-width-img-bleed-sec-rows-cntlr ul li .container .row,
.full-width-img-bleed-sec-rows-cntlr ul li .container .row .col-md-12{
    position: static;
}
.full-width-img-cntlr {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.full-width-des-innr {
    padding-top: 90px;
    padding-left: 90px;
    padding-bottom: 90px;
}
.full-width-des-title{
    color: #FFFFFF;
    margin-bottom: 42px;
}
.full-width-des-innr p{
    color: #FFFFFF;
    margin-bottom: 23px;
}
.full-width-des-innr a{
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(2){
    background: #A7A7A7;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(3){
    background: #D3E3CE;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(4){
    background: #808368;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(5){
    background: #A7A7A7;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(6){
    background: #D3E3CE;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(2n+2) .full-width-img-des-cntlr .full-width-img-des-rgt{
    order: 1;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(2n+2) .full-width-img-des-cntlr .full-width-img-des-lft{
    order: 2;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(2n+2) .full-width-img-des-cntlr .full-width-img-des-lft .full-width-img-cntlr{
    right: 0;
    left: auto;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(2n+2) .full-width-img-des-cntlr .full-width-img-des-rgt .full-width-des-innr{
    padding-left: 0;
    padding-right: 90px;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(2) .full-width-des-title,
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(5) .full-width-des-title{
    color: #48484A;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(2) .full-width-des-innr a,
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(5) .full-width-des-innr a{
    color: #48484A;
    border-color: #48484A;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(2) .full-width-des-innr a:hover,
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(5) .full-width-des-innr a:hover,
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(3) .full-width-des-innr a:hover,
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(6) .full-width-des-innr a:hover{
    color: #fff;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(3) .full-width-des-title,
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(6) .full-width-des-title{
    color: #48484A;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(3) .full-width-des-innr a,
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(6) .full-width-des-innr a{
    color: #48484A;
    border-color: #48484A;
}
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(3) .full-width-des-innr p,
.full-width-img-bleed-sec-rows-cntlr ul li:nth-child(6) .full-width-des-innr p{
    color: #48484A;
}