.news-landing-sec-entry-hdr {
    text-align: center;
    padding-bottom: 52px;
}
.news-landing-sec-title{
	font-weight: 300;
}
.news-landing-grids-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -13px;
}
.news-landing-grids-cntlr ul li{
	width: 33.333%;
	padding: 0 13px;
	padding-bottom: 54px;
}
.news-landing-grid-img-cntlr {
    position: relative;
    overflow: hidden;
}
.news-landing-grid-img-cntlr.has-inline-bg img{
	display: none;
}
.news-landing-grid-img-cntlr.has-inline-bg div{
	height: 296px;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.news-landing-grid-des strong a{
	color: #D3E3CE;
	text-transform: uppercase;
}
.news-landing-grid-des {
    padding-top: 30px;
    padding-left: 33px;
    padding-bottom: 23px;
    padding-right: 10px;
    background: #F2F2F2;
}
.news-lod-post-date span {
    padding-bottom: 21px;
    display: block;
}
.news-landing-grid-title a {
    color: #48484A;
}
.news-landing-grid-title a:hover{
	color: #D3E3CE;
}
.news-landing-grid-item:hover .news-landing-grid-img-cntlr div,
.news-landing-grid-item:hover .news-landing-grid-img-cntlr img {
    transform: scale(1.1);
}
.news-landing-grid-sec-btn{
	text-align: center;
}
.news-landing-grid-sec-btn a{
	font-size: 15px;
	font-weight: 400;
	color: #48484A;	
}
.news-landing-grids-cntlr {
    padding-bottom: 23px;
}
.news-landing-grid-sec {
    padding-top: 148px;
    padding-bottom: 233px;
}