.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


/*custom grid*/
.pt-grids-sec-cntlr{
	padding-top: 90px;
	padding-bottom: 90px;
}
.pt-columns{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.pt-columns-2{

}
.pt-columns-3{
	
}
.pt-columns-4{
	
}
.pt-columns-2L{
	
}
.pt-columns-2R{
	
}
.pt-grid-item{
	padding: 0 15px;
	margin-bottom: 30px;
}
.pt-grid-item > p:last-of-type{
	margin-bottom: 0;
}
.pt-columns-2 .pt-grid-item{
	width: 50%;
}
.pt-columns-3 .pt-grid-item{
	width: 33.33%;
}
.pt-columns-4 .pt-grid-item{
	width: 25%;
}
.pt-columns-2L .pt-grid-item{
	width: 70%;
}
.pt-columns-2L .pt-grid-item:first-of-type{
	width: 30%;
}
.pt-columns-2R .pt-grid-item{
	width: 30%;
}
.pt-columns-2R .pt-grid-item:first-of-type{
	width: 70%;
}
.pt-grids-sec-entry-hdr{
	padding-bottom: 1;
}
.pt-grids-sec-entry-hdr-title{
	margin-bottom: 40px!important;
}

.pt-fullwidth-txt-module{
	padding-top: 85px;
	padding-bottom: 85px;
}
.pt-fullwidth-txt-module h2{
	margin-bottom: 40px!important;
}
.pt-fullwidth-txt-module p:last-of-type{
	margin-bottom: 0;

}


.pt-fullwidth-txt-module-white-black{
	background: #010203;
}
.pt-fullwidth-txt-module-white-green{
	background: #808368;
}
.pt-fullwidth-txt-module-light-gray-bg{
	background: #EAEBEC;
}
.pt-fullwidth-txt-module-white-black,
.pt-fullwidth-txt-module-white-green,
.pt-fullwidth-txt-module-white-black h1,
.pt-fullwidth-txt-module-white-black h2,
.pt-fullwidth-txt-module-white-black h3,
.pt-fullwidth-txt-module-white-black h4,
.pt-fullwidth-txt-module-white-black h5,
.pt-fullwidth-txt-module-white-black h6,
.pt-fullwidth-txt-module-white-green h1,
.pt-fullwidth-txt-module-white-green h2,
.pt-fullwidth-txt-module-white-green h3,
.pt-fullwidth-txt-module-white-green h4,
.pt-fullwidth-txt-module-white-green h5,
.pt-fullwidth-txt-module-white-green h6{
	color: #fff;
}